/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#menu{
	-fx-background-image:url("../../images/menu.png");
	-fx-background-size:100% 100%;
	-fx-background-color: transparent;
}
#reset{
	-fx-background-image:url("../../images/resetstats.png");
	-fx-background-size:100% 100%;
	-fx-background-color: transparent;
}